<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CompileFolder</key>
	<string>/Users/misana/.local/share/pandoc</string>
	<key>NotesScaleFactor</key>
	<real>1.25</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>1A5262B9-F970-49D9-9E6A-D37A62C475AD</key>
		<dict>
			<key>BinderUUID</key>
			<string>1A5262B9-F970-49D9-9E6A-D37A62C475AD</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>858</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1.25</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>807 104 858 867 0 0 2048 1152 </string>
		</dict>
		<key>DBD78A59-27B1-4AEA-B5E0-4079E3DC5CC6</key>
		<dict>
			<key>BinderUUID</key>
			<string>DBD78A59-27B1-4AEA-B5E0-4079E3DC5CC6</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>858</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<true/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1.25</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>786 127 858 867 0 0 2048 1152 </string>
		</dict>
	</dict>
	<key>SuppressBookmarksFolderCheck</key>
	<false/>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {210, 744}}</string>
		<string>{{211, 0}, {1011, 744}}</string>
	</array>
	<key>bookmarksPreviewTextSettings</key>
	<dict>
		<key>hasMultiplePages</key>
		<false/>
		<key>isRulerVisible</key>
		<false/>
		<key>lineNumberingInterval</key>
		<integer>1</integer>
		<key>showsLineNumbers</key>
		<false/>
		<key>textFocusMode</key>
		<integer>0</integer>
		<key>textScaleFactor</key>
		<real>1</real>
		<key>usesFacingPages</key>
		<false/>
		<key>usesTypewriterScrolling</key>
		<false/>
	</dict>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>0B1F7711-BD86-4F0C-9B40-DA4997B08E14</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>113597D1-F11F-46FD-AA82-E4DCF51BE7C4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>11ADBD06-CB3C-4155-8C81-AC43CD4BB1BA</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>19BDFAD3-4F84-43DD-9E43-7ACC368DDF71</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1A5262B9-F970-49D9-9E6A-D37A62C475AD</key>
		<dict>
			<key>DocID</key>
			<string>9240BD3B-3585-4596-BC86-332A83A7C9C8</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>26F54768-634E-4E11-B646-6E56D948CCB4</key>
		<dict>
			<key>DocID</key>
			<string>A904D547-4B9A-4D67-915B-4E4B0FED876C</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>3F2221CC-2B14-4023-9CFF-302492629072</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>51AA0E4E-DFB1-480B-88AC-8A0A4A308293</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>70594FBF-87C6-42FC-B919-4697CA2CD41E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>72242DEA-41DE-4348-B538-81E2E7530718</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7E9131D2-9D75-4E97-90A4-AEC674CA8C42</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>810A571B-D7A4-419E-A9FF-01E331428138</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9240BD3B-3585-4596-BC86-332A83A7C9C8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>96AF1657-189D-4DD0-8F24-B8AA577534F3</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A904D547-4B9A-4D67-915B-4E4B0FED876C</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B5CDC831-C094-402A-8DDB-EAC6BAA6F5E8</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BDA8851C-8112-4EF7-B6AB-E89BB46D99D5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>D63EC7F9-02A7-4BA6-A800-44FFABA2E800</key>
		<dict>
			<key>DocID</key>
			<string>DBD78A59-27B1-4AEA-B5E0-4079E3DC5CC6</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>D7BDF7D9-1B79-44C0-96D2-55571186B1B2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DBD78A59-27B1-4AEA-B5E0-4079E3DC5CC6</key>
		<dict>
			<key>DocID</key>
			<string>9240BD3B-3585-4596-BC86-332A83A7C9C8</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>E2B25C53-4739-4304-BC99-47EE39C015B6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E99A70B4-EC7B-4F27-8721-DC899D7FBADD</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EA9AB3FA-9489-499E-949F-166FF9949270</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EE7F2382-E553-4F4D-A867-D15A6B71E5D6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F640E6A7-CC5C-4141-9299-E5EA0AF19C5A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FB38BC79-5447-41DB-96CF-937B1A9195DC</key>
		<dict>
			<key>DocID</key>
			<string>9240BD3B-3585-4596-BC86-332A83A7C9C8</string>
			<key>Row</key>
			<integer>0</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>editorSplitFrames</key>
	<array>
		<string>{{468, 0}, {468, 692}}</string>
	</array>
	<key>exportFilesFormat</key>
	<integer>0</integer>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {783, 714}}</string>
		<string>{{784, 0}, {227, 714}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>244.5</real>
	<key>lastDocumentSplitType</key>
	<integer>1</integer>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>mainDocumentEditor.outlinerColumnsWidths</key>
	<dict>
		<key>label</key>
		<real>85</real>
		<key>sectionType</key>
		<real>100</real>
		<key>status</key>
		<real>85</real>
		<key>title</key>
		<real>253</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{-39.090909090909086, 1167.2727272727273}, {698.18181818181824, 598.18181818181824}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.1000000000000001</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>1 147 1222 772 0 0 1470 924 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
